@charset "UTF-8";

/* Todas as demais */

/* Typical devices break points

pequenas telas: até 600px
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px
*/

@media print {

    /*  Impressoras */
    body {
        /* Desnecessário pois não posso imprimir background */
        background-image: url(../imagens/back-print.jpg);

        font-family: 'Courier New', Courier, monospace;
    }

    main {
        text-align: center;
        border: 2px solid black;
    }

    /* Configurando o que aparecerá na impressão do papel deopois do main */
    main::after {
        content: 'Esta impressâo foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main,
    h1 {
        text-shadow: none;
        color: black;
    }

    footer {
        text-decoration: underline;
    }

    footer>p {
        color: black;
    }

    footer>p>a {
        color: black;
        font-weight: bolder;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/* A media screen para mobile já foi feita no style principal seguindo o conceito "mobile first" */

/* E aqui neste media screen fazemos as configs da tela de tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* Tablets */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/* E aqui neste media screen fazemos as configs da tela de pc */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* Desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }

}

/* E aqui neste media screen fazemos as configs da tela de tv */
@media screen and (min-width: 1200px) {

    /* Grandes telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 800px;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}