@charset "UTF-8";

/* Typical devices break points

pequenas telas: até 600px
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {

    /* Aqui digo que ao chegar no limite da tela de celular o menu hamburguer será removido */
    span#burguer {
        display: none;
    }

    menu#itens {
        display: block;
    }

    menu>ul>li{
        display: inline-block;
    }

    main{
        width: 748px;
    }
}